@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(156, 156, 156);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  scrollbar-color: rgb(156, 156, 156);
}

*::-webkit-scrollbar-track {
  /* background: var(--primary); */
  border-radius: 5px;
  /* background: white; */
}

*::-webkit-scrollbar-thumb {
  /* background-color: var(--secondary); */
  border-radius: 14px;
  height: 8px;
  background-color: rgb(156, 156, 156);

  /* border: 3px solid var(--primary); */
}

.tags-wrapper::-webkit-scrollbar {
  overflow: hidden;
}

@layer components {
  /* .disabled {
    @apply opacity-50 cursor-not-allowed;
  } */
  .single-article h1 {
    @apply text-3xl font-bold py-2;
  }

  .single-article h2 {
    @apply text-xl font-bold py-2;
  }

  .single-article h3 {
    @apply text-lg font-bold py-2;
  }

  .single-article pre {
    @apply text-white w-full bg-gray-200 my-6 p-2;
  }
  .single-article iframe {
    @apply w-full bg-gray-100 mr-auto my-6 p-2;
  }

  .single-article p {
    @apply sm:text-xs xs:text-xs break-words my-2 w-full;
  }

  .single-article blockquote {
    @apply my-4 p-4 border-l-4 bg-gray-100 text-gray-500 border-accentColor;
  }
}
